    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ranger Campy</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          {% if pageID=='listView' %}
            <li><a href="/mapView">Map View</a></li>
            <li class="active"><a href="#">List View</a></li>
          {% elif pageID=='mapView' %}
            <li class="active"><a href="#">Map View</a></li>
            <li><a href="/listView">List View</a></li>
          {% else %}
            <li><a href="/mapView">Map View</a></li>
            <li><a href="/listView">List View</a></li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

